<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Настройки подключения к базе данных через HikariCP -->
        <property name="hibernate.connection.provider_class">com.zaxxer.hikari.hibernate.HikariConnectionProvider</property>

        <property name="hibernate.hikari.dataSourceClassName">org.postgresql.ds.PGSimpleDataSource</property>
        <property name="hibernate.hikari.dataSource.serverName">localhost</property>
        <property name="hibernate.hikari.dataSource.portNumber">5432</property>
        <property name="hibernate.hikari.dataSource.databaseName">postgres</property>
        <property name="hibernate.hikari.dataSource.user">postgres</property>
        <property name="hibernate.hikari.dataSource.password">password</property>

        <!-- Настройки пула подключений HikariCP -->
        <property name="hibernate.hikari.maximumPoolSize">20</property>
        <property name="hibernate.hikari.minimumIdle">5</property>
        <property name="hibernate.hikari.idleTimeout">200000</property>
        <property name="hibernate.hikari.connectionTimeout">20000</property>
        <property name="hibernate.hikari.maxLifetime">1500000</property>

        <!-- Дополнительные настройки Hibernate -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Маппинг сущностей -->
        <mapping class="com.innowise.onlineforum.model.entity.User"/>
        <mapping class="com.innowise.onlineforum.model.entity.UserCredentials"/>
        <mapping class="com.innowise.onlineforum.model.entity.Topic"/>
        <mapping class="com.innowise.onlineforum.model.entity.Reply"/>

    </session-factory>
</hibernate-configuration>