<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <display-name>Index</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>com.innowise.onlineforum.controller.listener.SessionListener</listener-class>
    </listener>

    <context-param>
        <param-name>jakarta.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>locale.messages</param-value>
    </context-param>

    <servlet>
        <servlet-name>Main</servlet-name>
        <jsp-file>/WEB-INF/jsp/main.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/WEB-INF/jsp/login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Register</servlet-name>
        <jsp-file>/WEB-INF/jsp/register.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateTopic</servlet-name>
        <jsp-file>/WEB-INF/jsp/create_topic.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateTopic</servlet-name>
        <url-pattern>/create_topic</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Topic</servlet-name>
        <jsp-file>/WEB-INF/jsp/topic.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Topic</servlet-name>
        <url-pattern>/topic</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Topics</servlet-name>
        <jsp-file>/WEB-INF/jsp/topics.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Topics</servlet-name>
        <url-pattern>/topics</url-pattern>
    </servlet-mapping>
</web-app>